Categories: terminals
Template: home
Summary: Terminals

.container
  .row
    .col-md-9
      %h1 Terminals
      :markdown
        We have built low cost terminals for lotteries based on Raspberry PI. This is allows us to create a terminal wth internet connectivity for less than $200 per terminal. A colour touchscreen and high speed printer can be a configured solution.

        In addition the terminal can manage money transfers, payments to service providers (eg telco's,utilities, etc)

        We have full proceses to manage cash collections from the distribution channels.
      %img(src="attachments/terminal.jpg" alt='terminal')
      :markdown
        The system is completely integrated with payments and wallet management of distributors.  A distributor has an established credit limit and district managers manage a seriers of distributors.
        
        Our terminal is currently being redesigned in Taiwan in new packaging.
      %img(src="attachments/terminal2.jpg" alt='new terminal')

    .col-md-3
      = haml :product_menu, :layout => false

  .row
    .col-offset-9.col-md-3
      = haml :learn_more, :layout => false