.col-md-7.col-xs-7
  .card.card-outline-primary
    .card-header
      %h2 Map
    .card-block
      %iframe(width="420" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=50+raffles+place,+Singapore+048623&hl=en&sll=1.308712,103.841957&sspn=0.17093,0.252342&t=m&hnear=50+Raffles+Pl,+Singapore+048623&ie=UTF8&hq=&ll=1.285207,103.852901&spn=0.025743,0.025749&amp;z=14&iwloc=A&output=embed")
