.col-md-7.col-xs-7
  .card.card-outline-primary
    .card-header
      %h1 Contact Information
    .card-block
      %h2 Singapore Contact
      :markdown
        #### Our Address:
  
        37th Floor, Singapore Land Tower,
        50 Raffles Place,
        Singapore 048623

        #### Telephone
        +65 6829 7025
  
        #### E-mail: 
        info@estormtech.com
  
        #### Legal: 

        Singapore Company Registration: 200904977M
      %h2 Timor Contact
      :markdown
        #### Our Address:
  
        02-06 Landmark Plaza
        Dili, Timor Leste