%h3 Who uses Estorm?
%ul
  %li
    %blockquote
      “Estorm’s underlying technology is as robust and versatile as any solution in this space. The difference has been the support and ‘can do’ attitude which has enabled SmartRoam to have a single source of truth of our customers, from acquisition through to retention and support.”
      %cite
        Charles Tidswell,
        %a(href="http://chattimeapp.com") Chattimeapp.com
  %li
    %blockquote
      “Estorm's solution allows us to offer on demand CRM to our customers and billing integration with our prepaid platform and our customer's mobile phones via sms.”
      %cite
        Frederic,
        %a(href="http://indosat.com") Indosat.com
  %li
    %blockquote
      “Estorm delivered a complete lottery and distribution system in Timor Leste with growing revenue streams”
      %cite
        Drachen,
  %li
    %blockquote
      “...support from Estorm has been effective. The system has been functioning well for over 2 years..”
      %cite
        Dainial Lim,
        %a(href="http://www.cayman.com.sg") Cayman Management consultants
  %li
    %blockquote
      “...happy with the Estorm CRM system and its performance as a hosted solution.”
      %cite
        Ramesh,
        %a(href="http://www.rapengineers.com") Rap Engineers
