%nav.navbar.navbar-bordered.navbar-toggleable-sm
  /.container-fluid
  /.navbar-header
  %button.navbar-toggler.navbar-toggler-right{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbar-ex-collapse", 'aria-controls'=> "navbar-ex-collapse", "aria-expanded"=>"false","aria-label"=>"Toggle navigation"}
    %span.navbar-toggler-icon
  %a(class="navbar-brand" href="/")
    %span
      %img( src="/attachments/estormcrm.jpg" width=23 height=23 alt='estorm logo')
      %h5
        %strong
          = @heading
  .navbar-collapse.collapse(id="navbar-ex-collapse")    
    - display_menu(@menu_items, :class => "nav navbar-nav", :levels => 1)



