Categories: contact
Template: home
Summary: Email information
Link text: Contact

.container
  .row
    = haml :contact_card, :layout=> false
    .col-md-4
      = haml :product_menu, :layout => false
    %h1 &nbsp;
    = haml :contact_map, :layout=> false
    .col-md-4
      = haml :learn_more, :layout => false

