Title: Digital Signage Privacy Policy
Template: home
Link text: 

.container
  %h1 Privacy Policy
  %h2 Digial Sign Privacy Policy
  %h3
    %a(href="/digialsign/privacy"  ) 
      Privacy Policy
  %h3
    %a(href="/digialsign/terms"  ) 
      TErms of Service
